name: Continuous Integration
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      MIX_ENV: test

    strategy:
      matrix:
        include:
          - otp: 25.3.2.6
            elixir: 1.14.5
          - otp: 25.3.2.6
            elixir: 1.15.5
          - otp: 26.0.2
            elixir: 1.14.5
          - otp: 26.0.2
            elixir: 1.15.5

    steps:
      - uses: actions/checkout@v4

      - name: Cache dialyzer plts
        uses: actions/cache@v3
        with:
          path: priv/plts
          key: ${{runner.os}}-${{matrix.otp}}-${{matrix.elixir}}-plts

      - uses: erlef/setup-elixir@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}

      - name: Deps get and check unused
        run: mix deps.get && mix deps.unlock --check-unused

      - name: Check Credo
        run: mix credo

      - if: ${{ matrix.elixir == '1.15.5' }}
        name: Check Formatting
        run: mix format --check-formatted

      - name: Run Tests
        run: mix do compile --warnings-as-errors, test

      - name: Dialyzer
        run: mix dialyzer --halt-exit-status
